{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container bg-light shadow-md p-5 form-layout">

        <h3>Update the record</h3>

        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-primary">Update the record</button>

            <a href="{% url 'webapp:dashboard' %}" class="btn btn-secondary"><i class="fa-regular fa-circle-left"></i>
                &nbsp; Return
            </a>

        </form>

        <br>
    </div>

    <br>
</body>

{% endblock content %}